<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>BNDL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Descrição de por que você precisa da permissão de localização em tempo de uso.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Descrição de por que você precisa da permissão de localização sempre ativa.</string>
	</dict>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyBEjt6BtRGHguy_XtqMiCKHlwx4IRxblSs</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>NSLocationTemporaryUsageDescription</key>
		<string>Descrição de por que você precisa da permissão de localização em tempo real.</string>
	</dict>
</plist>